@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  transition: all ease-in-out .3s;
}
button:hover {
  background-color: #9b0127;
}
button.disabled:hover{
  background-color: #9b012700;
}

.fake-mansory {
  --gap: clamp(1rem, 5vmin, 5vmin, 2rem);
  columns: 41vw;
  gap: var(--gap);
  width: 100%;
  max-width: 960px;
}
.fake-mansory > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
.no-mansory {
  gap: 4;
  display: grid;
  grid-template-columns: auto auto;
}